<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://kit.fontawesome.com/fdc0a9bf31.js" crossorigin="anonymous"></script>
    <title>Conversor</title>
</head>
<body>
    <nav>
        <div class="Logo">
            <a href="/" class="box-link">
                <img src="../static/img/hmcc.png" alt="Logo">
            </a>
        </div>
    </nav>
    <div class="titulo">
        <h1>Conversor de Documentos</h1>
    </div>
    <div class="container">
        <a href="/vale-transporte" class="box-link">
            <div class="box">
                <i class="fa-solid fa-bus"></i>
                <h3>Vale Transporte</h3>
            </div>
        </a>
        <a href="/insalubridade" class="box-link">
            <div class="box">
                <i class="fa-solid fa-envelope"></i>
                <h3>Insalubridade</h3>
            </div>
        </a>
        <a href="/vale-alimentacao" class="box-link">
            <div class="box">
                <i class="fa-solid fa-money-bill-wheat"></i>
                <h3>Vale Alimentação</h3>
            </div>
        </a>
    </div>
    <footer>&copy; 2023 Matheus Almeida. Todos os direitos reservados.</footer>
</body>
</html>