<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fdc0a9bf31.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <title>Conversor de Documentos</title>
</head>
<body>
    <nav>
        <div class="Logo">
            <a href="/" class="box-link">
                <img src="../static/img/hmcc.png" alt="Logo">
            </a>
        </div>
    </nav>
    <div class="titulo">
        <h1>Conversor de Documentos</h1>
    </div>
    <div class="container">
        <div class="form-container">
            <div class="form-title">
                <i class="fa-solid fa-money-bill-wheat"></i>
                <h3>Vale Alimentação</h3>
            </div>
            <form action="/upload-alimentacao" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".csv">
                <input type="submit" value="Enviar">
            </form>
            <div class="download-link">
                Baixe o arquivo de exemplo <a href="#">AQUI <i class="fa-solid fa-arrow-left-long"></i></a>
            </div>
        </div>
    </div>
    <footer>&copy; 2023 Matheus Almeida. Todos os direitos reservados.</footer>
</body>
</html>